<app-header-menu titleMain="MI CONFIGURACIÓN"></app-header-menu>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="logo-android"></ion-icon>
      <ion-label>Modo Obscuro Android</ion-label>
      <ion-toggle disabled slot="end" [(ngModel)]="darkModeSystem"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>Modo Obscuro </ion-label>
      <ion-toggle id="themeToggle" slot="end" [(ngModel)]="darkMode" (ionChange)="switch()"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-grid fixed>
    <ion-card-header>
      <ion-card-subtitle>CAMBIA TU AVATAR</ion-card-subtitle>
      <ion-card-title>{{avatarIdCurrent | uppercase}}</ion-card-title>
    </ion-card-header>
    <ion-row class="ion-margin">
      <ion-col>
        <ion-slides [options]="avatarSlide" #aSlides>
          <ion-slide *ngFor="let avatar of avatartCatalogList">
            <ion-img class="pick-avatar" [src]="avatar.avatarUrl" [ngClass]="{'pick-avatar-seleccionado': avatar.selected
                  , 'animate__bounceIn':avatar.selected}" (click)="selectAvatar(avatar)"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="12">
        <form (ngSubmit)="agentUpdate(formAgentUpdate)" #formAgentUpdate="ngForm">
          <ion-item class="ion-padding">
            <ion-label position="stacked"></ion-label>
            <ion-input [(ngModel)]="agentDeliveryCurrent.name" name="name" placeholder="Nombre" required></ion-input>
            <ion-input [(ngModel)]="agentDeliveryCurrent.phone" name="phone" placeholder="Telefono" type="number" required>
            </ion-input>
          </ion-item>
          <ion-row class="ion-justify-content-center">
            <ion-button type="submit" color="tertiary" shape="round" class="ion-margin">
              <ion-icon slot="start" name="pencil"></ion-icon>
              <span>Actualizar</span>
            </ion-button>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>