<app-header currentTitle="INFORMACIÓN"></app-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [tab]="['detailLocation/',deliveryIdCurrent]">
        <ion-icon name="location"></ion-icon>
        <ion-label>Ubicación</ion-label>
      </ion-tab-button>
      <ion-tab-button [tab]="['detailItems/',deliveryIdCurrent]">
        <ion-icon name="restaurant"></ion-icon>
        <ion-label>Pedido</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>