<ion-app>
  <ion-menu side="start" menuId="firstMunu" contentId="main">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-chip color="dark" [disabled]="false" [outline]="false" slot="start">
          <ion-avatar>
            <img [src]="agentInfoCurrent.avatar">
          </ion-avatar>
          <ion-label>{{agentInfoCurrent.name}}</ion-label>
        </ion-chip>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle *ngFor="let a of menuOpts | async" [routerLink]="a.redirectTo">
          <ion-item>
            <ion-icon slot="start" [name]="a.icon" color="tertiary"></ion-icon>
            <ion-label>{{a.name}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item button (click)="logOut()">
            <ion-icon slot="start" name="walk" color="tertiary"></ion-icon>
            <ion-label>Salir</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>