<app-header-menu titleMain="{{titleMain}} {{statusTitleCurrent | statusGroupTitle}}"></app-header-menu>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [tab]="['deliveryList/d,e']">
        <ion-icon name="receipt"></ion-icon>
        <ion-label>PENDIENTES</ion-label>
        <ion-badge color="tertiary">{{countPending}}</ion-badge>
      </ion-tab-button>
      <ion-tab-button [tab]="['deliveryList/f,f1']">
        <ion-icon name="reader"></ion-icon>
        <ion-label>FINALIZADAS</ion-label>
        <ion-badge color="tertiary">{{countFinish}}</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>